@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: rgb(255, 255, 255);
        --color-secondary: rgb(255, 102, 102);
        --color-accent1: navy;
        --color-accent2: gold;
    }
}

@layer components {
    .title-slider {
        font-size: 2rem;
        font-weight: 700;
    }
}